*.class
dist
download
push.sh
remotebuild.py

## gradle
/.gradle
/build
/eclipse
/gradlew.bat

## ForgeGradle
/run
/out
/ForgeModule
/libs/download

## idea
*.iml
*.ipr
*.iws

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/.idea
/client/
/Server/
/classes/
## misc
/libs/Thaumcraft-deobf*.jar*
/libs/*1.7.10*
TCDEOBF*
## Ignore OS cache files
*.DS_Store
_MACOSX
Thumbs.db
/forgelibs

## Ignore unnecessary files
*.log
*.lck
/target/
