#NEI Server Permissions 
# Names are Comma (,) separated 
# ALL, OP and NONE are special names

#List of players who can use these blocks. :Anyone not listed here will not have these blocks appear in their item panel.:format is {itemID}::{itemDamage}:Eg. 12::5=CodeChicken, Friend1
BannedBlocks
{
	7:0=NONE
}

#List of players who can use these features. :Eg. time=CodeChicken, Friend1
permissions
{
	adventure=OP
	creative=OP
	creative+=OP
	delete=OP
	enchant=OP
	heal=OP
	item=OP
	magnet=OP
	notify-item=CONSOLE, OP
	potion=OP
	rain=OP
	save-state=OP
	time=OP
}
